In [70]:
import pandas_datareader as pdr
import pandas_datareader.data as web
from dotenv import load_dotenv
import os
import yfinance as yf
import certifi
import ssl

In [49]:
import datetime

In [55]:
load_dotenv()

True

In [56]:
av_api_key = os.getenv('AV_API_KEY')
tiingo_api_key = os.getenv('TIINGO_API_KEY')
quandl_api_key = os.getenv('QUANDL_API_KEY')

In [57]:
print(av_api_key)
print(tiingo_api_key)
print(quandl_api_key)

9LG2EQS7IOERFF4U
9be89a45c105b1e3a912ef870344bc91b2ca0c1f
2AiGMLhMNfT3sonFjk5V

In [78]:
start = datetime.datetime(2015,1,1)
end = datetime.datetime(2017,1,1)

In [82]:
#facebook = web.DataReader('FB','av-daily',start=start,end=end,api_key=av_api_key)
#facebook = pdr.get_data_tiingo('FB',api_key=tiingo_api_key)
#facebook = web.DataReader('FB','quandl',start,end)
facebook = web.DataReader('META','stooq',start=start,end=end)
#ge = web.DataReader('GE', 'yahoo', start='2019-09-10', end='2019-10-09')

In [84]:
facebook.sort_values(by='Date').head()

             Open   High    Low  Close    Volume
Date
2015-01-02  78.58  78.93  77.70  78.45  18168609
2015-01-05  77.98  79.25  76.86  77.19  26422088
2015-01-06  77.23  77.59  75.36  76.15  27384634
2015-01-07  76.76  77.36  75.82  76.15  22036683
2015-01-08  76.74  78.23  76.08  78.18  23949974