In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('walmart_stock.csv', index_col='Date',parse_dates=True)

In [3]:
df.head()

                 Open       High        Low      Close    Volume  Adj Close
Date
2012-01-03  59.970001  61.060001  59.869999  60.330002  12668800  52.619235
2012-01-04  60.209999  60.349998  59.470001  59.709999   9593300  52.078475
2012-01-05  59.349998  59.619999  58.369999  59.419998  12768200  51.825539
2012-01-06  59.419998  59.450001  58.869999  59.000000   8069400  51.459220
2012-01-09  59.029999  59.549999  58.919998  59.180000   6679300  51.616215

In [4]:
df.tail()

                 Open       High        Low      Close   Volume  Adj Close
Date
2016-12-23  69.430000  69.750000  69.360001  69.540001  4803900  69.032411
2016-12-27  69.300003  69.820000  69.250000  69.699997  4435700  69.191240
2016-12-28  69.940002  70.000000  69.260002  69.309998  4875700  68.804087
2016-12-29  69.209999  69.519997  69.120003  69.260002  4298400  68.754456
2016-12-30  69.120003  69.430000  68.830002  69.120003  6889500  68.615479

In [5]:
df.shift(periods=1).head()

                 Open       High        Low      Close      Volume  Adj Close
Date
2012-01-03        NaN        NaN        NaN        NaN         NaN        NaN
2012-01-04  59.970001  61.060001  59.869999  60.330002  12668800.0  52.619235
2012-01-05  60.209999  60.349998  59.470001  59.709999   9593300.0  52.078475
2012-01-06  59.349998  59.619999  58.369999  59.419998  12768200.0  51.825539
2012-01-09  59.419998  59.450001  58.869999  59.000000   8069400.0  51.459220

In [8]:
df.shift(periods=-1).head()

                 Open       High        Low      Close      Volume  Adj Close
Date
2012-01-03  60.209999  60.349998  59.470001  59.709999   9593300.0  52.078475
2012-01-04  59.349998  59.619999  58.369999  59.419998  12768200.0  51.825539
2012-01-05  59.419998  59.450001  58.869999  59.000000   8069400.0  51.459220
2012-01-06  59.029999  59.549999  58.919998  59.180000   6679300.0  51.616215
2012-01-09  59.430000  59.709999  58.980000  59.040001   6907300.0  51.494109

In [9]:
df.head()

                 Open       High        Low      Close    Volume  Adj Close
Date
2012-01-03  59.970001  61.060001  59.869999  60.330002  12668800  52.619235
2012-01-04  60.209999  60.349998  59.470001  59.709999   9593300  52.078475
2012-01-05  59.349998  59.619999  58.369999  59.419998  12768200  51.825539
2012-01-06  59.419998  59.450001  58.869999  59.000000   8069400  51.459220
2012-01-09  59.029999  59.549999  58.919998  59.180000   6679300  51.616215

In [13]:
df.shift(freq='YE').head()

                 Open       High        Low      Close    Volume  Adj Close
Date
2012-12-31  59.970001  61.060001  59.869999  60.330002  12668800  52.619235
2012-12-31  60.209999  60.349998  59.470001  59.709999   9593300  52.078475
2012-12-31  59.349998  59.619999  58.369999  59.419998  12768200  51.825539
2012-12-31  59.419998  59.450001  58.869999  59.000000   8069400  51.459220
2012-12-31  59.029999  59.549999  58.919998  59.180000   6679300  51.616215